# https://linuxize.com/post/gitignore-ignoring-files-in-git/
# Remove all istems from index
# git rm -r -f --cached .

# Rebuild index
# git add .

# Make commit...

__pycache__/
__init__.py

/cmty.py
/Dessin1.vsdx
/Experiments.xlsx
/Experiments2.xlsx
/Lifting.c
/Lifting.cp37-win_amd64.pyd
/main_parallel.py
/main_parallel_2.py
/main_parallel_3.py
/main.py
/Markov.py
/Partition.py
/Partition2.py
/script.py
/Utilities.py
/test.py 

fig/
png/
fsm/
resutls/

Scripts_for_paper/script_for_optimalPartitionsList.py
Scripts_for_paper/OptimalPartitionsList.py

100x100.txt
matrix_gen.py
#main_loop.py
compa.png

Matrix/Yuxin

*.graphml