~$Experiments.xlsx
__pycache__/

cmty.py
Dessin1.vsdx
Experiments.xlsx
Lifting.c
Lifting.cp37-win_amd64.pyd
main_mftp.py
main_parallel_2.py
main_parallel_3.py
main_parallel.py
main.py
Markov.py
Partition.py
Partition2.py
script.py
Utilities.py

fig/